body {
  font-family: Bellefair, sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;

}

.header_portfolio {
  width: 100%;
  background-color: lightblue;
}
.header_logo {
  align-self: flex-start;
}
.header_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.header_text {
  text-align: right;
  align-self: flex-end;
  padding-right: 1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.picture_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  width: 100%;
  order: 1;
  display: flex;
  flex-direction: column;
}

.picture_big {
  border: 1px solid lightblue;
  object-fit: cover;
  padding: 1em;
}
.projects_content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects_all {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project {
  width: 320px;
  height: 260px;
  padding: 1em;
  margin: 1em;
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project a {
  text-decoration: none;
  color: black;
  padding: 1.5em;
}

.project a:hover {
  color: lightblue;
}

.project_name {
  text-align: center;
}

.picture_small {
  align-self: center;
}

footer {
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  width: 100%;
}

footer ul, nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  -webkit-padding-start: 0px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 1.5em;
}
footer a {
  padding: 1.5em;
}

nav a:hover {
  color: lightblue;
}

@media screen and (max-width: 761px) {
  .header_items{
    flex-direction: column;
  }
  .header_logo{
    align-self: flex-start;
  }

}
@media screen and (min-width: 762px) and (max-width: 1249px) {
  nav ul {
    justify-content: flex-end;
  }
  footer ul {
    justify-content: flex-start;
  }
}

  @media screen and (min-width: 1250px) {
  .nav, .header_portfolio, .content, #foot {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .about{
    width: 30%;
    order: -1;
  }

}
